.work-header h5 {
    color: #00E5CC;
}

.work-icon svg {
    width: 30px;
    color: #fff;
}

.work-icon {
    width: 65px;
    background-color: #00E5CC;
    text-align: center;
    height: 65px;
    line-height: 32px;
    border-radius: 4px;
    padding: 15px;
}

.how-we-work-right img:nth-child(1) {
    width: 100%;
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: -55px 20px 0px 1px rgb(0 229 204 / 17%);
}

.how-we-work-right img:nth-child(2) {
    width: 52%;
    border-style: solid;
    border-width: 15px 15px 0px 0px;
    border-color: #FFFFFF;
    border-radius: 0px 5px 0px 5px;
    margin-top: -81px;
    margin-left: -50px;
}