.site-footer {
    background-color: #000E44;
    color: #848e9f;
    padding: 80px 0;
}

.footer-contact {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-contact li {
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-contact li:after {
    position: absolute;
    left: -20px;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #00E5CC;
    top: 50%;
    margin-top: -6px;
}

.footer-contact a {
    text-decoration: none;
}